.app__portfolio {
    width: 100%;
    min-height: 100vh;
    padding-top: 5rem;
    border: 1px solid #eee;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.app__portfolio-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
}

.app__portfolio-text h1 {
    text-align: center;
    font-size: 65px;
    line-height: 84px;
    color: #333;
}

.app__portfolio-text h1 span{
    color: var(--orange);
}

.app__portfolio-details p {
    font-size: 20px;
    line-height: 30px;
    color: gray;
    text-align: justify;
}

.app__portfolio-pagination {
    width: 100%;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app__portfolio-projects {
    width: 100%;
    Padding: 2rem 3rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 2rem;
}

/*****************MEDIA QUERIES***************************/

@media screen and (max-width: 480px){
    .app__portfolio {
        padding-top: 2rem;
    }
    .app__portfolio-projects {
        Padding: 0.5rem;
        gap:1rem;
    }
}

