.app__contact {
    width: 100%;
    min-height: 100vh;
    padding-top: 7rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2rem;
}

.app__contact-details {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 30px;
}

.app__contact-details h1 {
    font-size: 65px;
    line-height: 84px;
    color: #333;
}

.app__contact-details h1 span{
    color: var(--orange);
}

.app__contact-details_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.app__contact-details_info div {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.app__contact-details_info p {
    font-size: 20px;
    line-height: 30px;
    color: gray;
    text-align: left;
}

.app__contact-form {
    flex: 1;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background-color: gold;
    background-image: linear-gradient(to right, var(--orange), var(--yellow));
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.app__contact-form form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
}

.app__contact-form form .inputfield,
.app__contact-form form .messagefield{
    width: 100%;
    padding: 15px 10px;
    border: none;
    border-radius: 15px;
    font-size: 20px;
    line-height: 32px;
    font-weight: 400;
    color: #333;
}

.app__contact-form form button {
    border: 5px solid gold;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

.app__contact-form .button_and_message {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.app__contact-form .button_and_message .successmessage {
    font-size: 20px;
    margin-left: 1rem;
}

/******************MEDIA QUERIES***********************/

@media screen and (max-width: 950px) {
    .app__contact {
        flex-direction: column;
        justify-content: space-between;
        padding-left: 2.8rem;
        padding-right: 2.8rem;
    }
    .app__contact-details {
        width: 100%;
    }
    .app__contact-form {
        width: 100%;
    }
}
@media screen and (max-width: 590px) {
    .app__contact {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

@media screen and (max-width: 480px) {
    .app__contact {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .app__contact-details h1 {
        font-size: 55px;
        line-height: 70px;
    }
    
    .app__contact-details_info p {
        font-size: 16px;
        line-height: 26px;
    }

    .app__contact-form {
        padding: 1rem;
    }
    
}

@media screen and (max-width: 410px) {
    .app__contact-form .button_and_message .successmessage {
        font-size: 15px;
    }
}

@media screen and (max-width: 350px) {
    .app__contact-form .button_and_message .successmessage {
        font-size: 12px;
        margin-left: 0.4rem;
    }
}

@media screen and (max-width: 320px) {
    .app__contact-details_info p {
        font-size: 13px;
        line-height: 22px;
    }
    .app__contact-form form .inputfield,
    .app__contact-form form .messagefield{
        padding: 10px;
        font-size: 14px;
    }
    .app__contact-form .button_and_message .successmessage {
        font-size: 8px;
        margin-left: 0.4rem;
    }
}
